@model TMDT_BanKhoaHoc.Models.HOCVIEN

@{
    ViewBag.Title = "Thông tin cá nhân";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taikhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matkhau)
        </dt>

        <dd>
            @Html.ActionLink(linkText: "Đổi mật khẩu", actionName: "DoiMatKhau")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiachiHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiHV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienthoaiHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiHV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>

        <dd>
            @if (Model.Ngaysinh != null)
            {

                @Model.Ngaysinh.Value.ToShortDateString()
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa thông tin", "SuaThongTin")
</p>
