@model TMDT_BanKhoaHoc.Models.GIANGVIEN

@{
    ViewBag.Title = Model.TenGV;
}

<h2>ViewBag.Title</h2>

<div>
    <h1>
        @Model.TenGV
    </h1>
    <div class="col-md-12">
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="col-md-5" style="font-weight: bold">
                    <p>
                        @Html.DisplayNameFor(model => model.TenGV)
                    </p>
                </div>
                <div class="col-md-7">
                    <p>
                        @Html.DisplayFor(model => model.TenGV)
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <p>
                    @Html.DisplayNameFor(model => model.Tieusu)
                </p>
            </div>
            <div class="col-md-12 thumbnail">
                @Html.Raw(Model.Tieusu)
            </div>
        </div>
        @if (ViewBag.BaiGiangs != null)
        {
            <div class="col-md-12">
                <div class="col-md-12">
                    <p>
                        Khóa học
                    </p>
                </div>
                <div class="col-md-12 thumbnail">
                    @Html.Action(actionName: "LietKeKhoaHoctheoGiangVien", routeValues: new { giangvien = Model.MaGV})
                </div>
            </div>
        }
    </div>
</div>